<%if (locals.email) {%>
<h1> 
  Welcome, <%=locals.email%>
</h1>
<div class="input-group">
  <div class="input-group-append">
      <form action="/" method="GET">
        <input class="btn btn-primary btn-lg active" type="submit" value="Home">
      </form>
      <form action="/logout" method="POST">
        <input class="btn btn-secondary btn-lg active" type="submit" value="logout">
      </form>
  </div>
</div>
<%} else {%>
<div class="input-group">
    <div class="input-group-append">
      <form action="/login" method="GET">
        <input class="btn btn-primary btn-lg active" type="submit" value="Login">
      </form>
      <form action="/register" method="GET">
        <input class="btn btn-secondary btn-lg active" type="submit" value="Register">
      </form>
    </div>
</div>
<%}%> 