</form>
<form action="/" method="GET">
  <input class="btn btn-primary" type="submit" value="Home">
</form>
</form>
<form action="/logout" method="POST">
  <input class="btn btn-primary" type="submit" value="logout">
</form>