<form action="/login" method="POST">
<label for="userName">User Name</label>
<input type="text" name="userName" id="userName" placeholder="Enter User Name">
<input type="submit" value="submit">
</form>