<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Modify</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="font-size:20px; padding:50px;"></body>
<main>
  <header>
      <% include partials/_header.ejs %>
  </header>
  <h1>
    <%= shortUrl %>
  </h1>
  <% let urlEDIT = "/u/" + shortUrl + "/edit" %>
        <form action=<%= urlEDIT %> method="POST" style="margin:150px;">
          <label for="longUrl">Enter a new URL:</label>
          <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
          <input class="btn btn-primary" type="submit" value="Update">
        </form>
        <footer>
            <% include partials/_footer.ejs %>
        </footer>
</body>

</html>