<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
  </header>
  <main>
    <h1>Index of URLs</h1>
    <table>
      <tr>
        <th>Short URL</th>
        <th>Long URL</th>
        <th>Delete URL</th>
        <th>Edit URL Link</th>
      </tr>
      <% for(let property in urls) { %>
      <tr>
        <td><%=property%> =></td>
        <td><%= urls[property] %></td>
        <% let deleteURL = "/u/" + property + "/delete"; %>
        <% let modifyURL = "/urls/" + property; %>
        <td>
          <form method="POST"  action=<%=deleteURL %>>
            <button  type="submit">DELETE</button>
          </form>
          </td>
          <td>
          <form method="GET"  action=<%=modifyURL %>>
            <button  type="submit">EDIT</button>
          </form>
        </td>
      </tr>
      <% }; %>
    </table>         
    <footer>
      <% include partials/_footer.ejs %>
    </footer>
  </main>
</body>

</html>